.App {
  text-align: center;
  /* background-color: rgb(61, 73, 75); */
}

.App-logo {
  height: 06vmin;
  pointer-events: none;
  flex-direction: "row";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    /* padding-top: 03vh; */
  }
}

.App-header {
  background-color: #fff;
  min-height: 08vh;
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  align-items: left;
  justify-content: left;
  padding-top: 01vh;
  font-size: calc(10px + 2vmin);
  color: rgb(80, 130, 150);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
